includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:

    paths:
        - app
        - bootstrap/app.php
        - config
        - database
        - public
        - routes


    level: max

    tmpDir: /tmp/phpstan

    excludePaths:
        # exclude starter kit files
        - ./database/migrations/2026_06_09_054214_create_permission_tables.php
        - ./app/Helpers/MenuHelper.php
        - ./app/Http/Controllers/Auth/ConfirmationController.php
        - ./app/Http/Controllers/Auth/NewPasswordController.php
        - ./app/Http/Controllers/Auth/RegistrationController.php
        - ./app/Http/Controllers/Auth/VerificationController.php
        - ./app/Http/Controllers/Settings/PasswordController.php
        - ./app/Http/Controllers/Settings/ProfileController.php
        - ./app/Http/Controllers/DashboardController.php
        - ./app/Http/Controllers/SidebarController.php
        - ./app/Http/Controllers/UserController.php
        - ./app/Http/Requests/UpdateUserRequest.php
#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
